h1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.note{
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.add-tasks{
  background-color: lightgreen;
  height: 60px;
  padding: 12px;
  margin-top: 10px;
}

.input{
  margin-top: 10px;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
}

.add-task-form{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}